html, body {
    width: 50%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    background-color: #ebdbbc;
    border: 1px black solid;
    margin-top: 10px;
    display: -moz-box;
}

.content h1{
    margin-left: 70px;

}
.content input{
    margin-left: 40px;

}
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #03fc3d;
    border-color: gray;
    width: 90px;
    height: 30px;
}

.toDos{
    margin-top: 20px;
}

